# Игнорируем бинарные файлы
go_final_project
*.exe
*.dll
*.so
*.dylib
*.test

# Игнорируем файлы конфигурации среды
.env
.env.*

# Исключаем конфиденциальные данные (если есть)
*.key
*.pem

# Игнорируем файлы логов
*.log

# Игнорируем директории кэша и сборки
build/
tmp/
*.out

# Игнорируем модули и директории зависимостей Go
vendor/
.gopath/

# Настройки операционной системы и IDE
.DS_Store
.idea/
.vscode/

# Файлы покрытия и тестирования
*.coverprofile
coverage.out
testdata/

# Игнорируем базу данных
scheduler.db

# Временные файлы
cookies.txt
nohup.out