# Бинарные файлы, которые будут созданы после компиляции
*.exe
*.dll
*.so
*.dylib
*.test

# Файлы логов
*.log

# Директории кэша и сборки
build/
tmp/
*.out

# Директории, связанные с модулями и зависимостями Go
vendor/
.gopath/

# Конфиденциальные данные и переменные окружения
.env
.env.*

# Настройки операционной системы
.DS_Store

# IDE и редакторы
.idea/
.vscode/

# Файлы тестирования и покрытия
*.coverprofile
coverage.out
testdata/

# Скомпилированные файлы
*.o
*.a

# Файлы деплоя и CI/CD, если они не должны быть в репозитории
 *.dockerignore
 *.compose

 # Игнорируем скомпилированные бинарные файлы
go_final_project

# Игнорируем базу данных
scheduler.db
