# Бинарные файлы, которые будут созданы после компиляции
*.exe
*.dll
*.so
*.dylib
*.test
/app

# Файлы логов
*.log

# Директории кэша и сборки
build/
tmp/
*.out

# Директории, связанные с модулями и зависимостями Go
vendor/
.gopath/

# Конфиденциальные данные и переменные окружения
.env
.env.*

# Исключаем .env.example, чтобы он был в репозитории
!.env.example

# Настройки операционной системы
.DS_Store

# IDE и редакторы
.idea/
.vscode/

# Файлы тестирования и покрытия
*.coverprofile
testdata/

# Скомпилированные файлы
*.o
*.a

# Бинарный файл приложения
go_final_project


# Сессионные файлы
cookies.txt
