# Binary files generated after compilation
*.exe
*.dll
*.so
*.dylib
*.test
/app

# Log files
*.log

# Cache and build directories
build/
tmp/
*.out

# Directories related to Go modules and dependencies
vendor/
.gopath/

# Confidential data and environment variables
.env
.env.*

# Include .env.example in the repository
!.env.example

# OS-specific settings
.DS_Store

# IDE and editor files
.idea/
.vscode/

# Testing and coverage files
*.coverprofile
testdata/

# Compiled files
*.o
*.a

# Application binary file
scheduler

# Temporary files
cookies.txt
nohup.out

# Test database
test_scheduler.db